Repository palmaresHQ/palmares, pull requests merged in 2024-11, with the labels that each got.

#283 Databases-migration-issues
  .changeset/sharp-glasses-melt.md
  package.json
  packages/core/src/conf/exceptions.ts
  packages/core/src/conf/settings.ts
  packages/databases/README.md
  packages/databases/__tests__/package.json
  packages/databases/__tests__/src/standalone/drizzle/database.config.ts
  packages/databases/__tests__/src/standalone/drizzle/load.ts
  packages/databases/__tests__/src/standalone/sequelize/database.config.ts
  packages/databases/__tests__/src/standalone/sequelize/makemigrations.ts
  packages/databases/__tests__/src/standalone/sequelize/migrate.ts
  packages/databases/__tests__/src/standalone/sequelize/migrations/002_default_auto_migration_1731249515815.ts
  packages/databases/__tests__/src/standalone/sequelize/migrations/index.ts
  packages/databases/__tests__/src/standalone/sequelize/models.ts
  packages/databases/__tests__/standalone.sequelize.db
  packages/databases/docs/consumers/getting-started/on-your-own.md
  packages/databases/docs/introduction.md
  packages/databases/src/databases.ts
  packages/databases/src/migrations/actions/models.ts
  packages/databases/src/models/exceptions.ts
  packages/databases/src/models/model.ts
  packages/databases/src/models/utils.ts
  packages/databases/src/standalone.ts
Labels: main, databases, core

#284 Fix initializeModels bug
  .changeset/lucky-wolves-yawn.md
  packages/databases/src/models/utils.ts
Labels: main, databases

#292 Fiix-drizzle-template
  .changeset/rich-singers-confess.md
  bin/CHANGELOG.md
  bin/package.json
  packages/databases/templates/templates.json
Labels: main, databases

#293 fix drizzle-adapter to apply on command line
  .changeset/good-parents-sell.md
  .changeset/rich-singers-confess.md
  bin/CHANGELOG.md
  bin/package.json
  libs/drizzle-engine/CHANGELOG.md
  libs/drizzle-engine/package.json
  libs/drizzle-engine/src/model.ts
  libs/sequelize-engine/CHANGELOG.md
  libs/sequelize-engine/package.json
  libs/zod-schema/CHANGELOG.md
  libs/zod-schema/package.json
  packages/databases/CHANGELOG.md
  packages/databases/package.json
  packages/databases/templates/templates.json
  packages/schemas/CHANGELOG.md
  packages/schemas/package.json
  scripts/release/index.ts
Labels: main, databases, libs, drizzle-engine, sequelize-engine, schemas

#300 Fix Dynamic imports on windows
  .changeset/shaggy-penguins-matter.md
  libs/drizzle-engine/src/model.ts
  libs/node-std/src/interfaces/files.ts
  packages/core/src/conf/settings.ts
  packages/core/src/std-adapter/files.ts
  packages/databases/__tests__/.drizzle/schema.ts
  packages/databases/src/migrations/index.ts
  packages/tests/src/commands/test.ts
  packages/tests/src/independent.ts
  packages/tests/src/runner.ts
Labels: main, databases, libs, core, drizzle-engine, tests, node-std

#301 Arrow-navigation-on-std
  .changeset/thin-cows-jump.md
  bin/src/app.ts
  bin/src/utils.ts
  libs/drizzle-engine/src/model.ts
  libs/node-std/src/interfaces/asker.ts
  libs/node-std/src/interfaces/files.ts
  packages/core/src/commands/exceptions.ts
  packages/core/src/commands/index.ts
  packages/core/src/commands/types.ts
  packages/core/src/index.ts
  packages/core/src/std-adapter/asker.ts
  packages/core/src/std-adapter/files.ts
  packages/core/src/std-adapter/index.ts
  packages/core/src/std-adapter/select.ts
  packages/core/src/std/exceptions.ts
  packages/core/src/std/index.ts
  packages/core/src/std/std.ts
  packages/databases/__tests__/package.json
  packages/databases/src/migrations/index.ts
  packages/databases/src/migrations/makemigrations/asker.ts
  packages/databases/src/migrations/makemigrations/index.ts
  packages/databases/src/models/utils.ts
  packages/server/src/app/utils.ts
  packages/server/src/utils/launch-editor-on-error.ts
  packages/tests/src/commands/test.ts
  pnpm-lock.yaml
Labels: main, databases, libs, core, drizzle-engine, server, tests, node-std
