Repository palmaresHQ/palmares, pull requests merged in 2025-02, with the labels that each got.

#354 Make docs work
  .github/workflows/preview-docs-deployment.yml
  .github/workflows/production-docs-deployment.yml
  docs/.gitignore
  docs/app/styles/app.css
  docs/components/Code.tsx
  docs/examples/mainpage/_package.json
  docs/examples/mainpage/src/core/tests.ts
  libs/express-adapter/src/server.ts
  libs/jest-tests/src/functions.ts
  libs/vercel-adapter/src/serverless.ts
  packages/server/__tests__/src/core/test.test.ts
  packages/server/src/adapters/index.ts
  packages/server/src/adapters/serverless.ts
  packages/server/src/app/utils.ts
  packages/server/src/tests.ts
  packages/server/src/utils/exceptions.ts
  packages/server/src/utils/store-server.ts
  packages/tests/src/functions.ts
  turbo.json
Labels: main, ghaction, docs, libs, express-adapter, server, tests

#356 chore: build on prs
  .github/workflows/build-on-dependabot-pr.yml
Labels: ghaction

#411 fix: dependabot should also ignore minor
  .github/dependabot.yml
  .github/workflows/build-on-dependabot-pr.yml
Labels: ghaction

#427 fix: unecessary serverless
  .changeset/wild-worms-guess.md
  packages/server/src/app/utils.ts
Labels: main, server

#428 fix: express example
  .changeset/warm-wasps-live.md
  examples/server-express-only/src/requests/controllers.ts
  examples/server-express-only/src/settings.ts
  packages/server/src/app/utils.ts
Labels: main, examples, server

#432 fix: test example
  examples/tests/package.json
  examples/tests/src/auth/index.ts
  examples/tests/src/auth/test.ts
  examples/tests/src/settings.ts
  examples/tests/src/test/index.ts
  examples/tests/tsconfig.json
  pnpm-lock.yaml
Labels: examples

#448 feat: implement method 'new' to ExpressServer
  .changeset/dull-hoops-punch.md
  examples/basic/src/settings.ts
  examples/server-express-only/src/settings.ts
  libs/express-adapter/src/index.ts
  libs/express-adapter/src/server.ts
  packages/server/src/app/index.ts
Labels: main, libs, express-adapter, examples, server
